/* CSS declarations go here */

body {
	font-family: 'Rubik', sans-serif;
}

.F-Arial {
	 font-family: Arial;
}

.Top-Pad {
	padding-top: 6%;
	display: block;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  /*margin-left: 100px 1000px 0px 300px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.changePassword {
  padding: 15px 25px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.changePassword:hover {
  background-color: #3e8e41
}

.changePassword:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.resetPassword {
  padding: 15px 25px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #73008C;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.resetPassword:hover {
  background-color: #3e8e41
}

.resetPassword:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}